body{
    background:pink;
    div{
        color:green;
        font-size:16px;
    
    }
    p{
        width:100px;
        height:100px;
        background:url('./images/right080.png') 0 0 no-repeat
    }
}